{extend name="common/common"}

{block name='title'}后台首页{/block}

{block name="css"}

{/block}

{block name='index'}layui-this{/block}

{block name='main'}
<!--<blockquote class="layui-elem-quote">欢迎来到后台页面</blockquote>-->

<div class="layui-card" style="background-color: #FAFAFA">
    <div class="layui-card-body">
        <div class="layui-form" >

<div class="layui-fluid">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space15">
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">快捷方式</div>
                        <div class="layui-card-body">
                            <div class="layui-carousel layadmin-carousel layadmin-shortcut">
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs3">
                                            <a href="{:url('user/add')}">
                                                <i class="layui-icon layui-icon-username"></i>
                                                <cite>添加用户</cite>
                                            </a>
                                        </li>

                                        <li class="layui-col-xs3">
                                            <a href="{:url('admin/add')}">
                                                <i class="layui-icon layui-icon-user"></i>
                                                <cite>添加管理员</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="{:url('post/index')}">
                                                <i class="layui-icon layui-icon-template-1"></i>
                                                <cite>文章列表</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="{:url('bug/index')}">
                                                <i class="layui-icon layui-icon-survey"></i>
                                                <cite>漏洞列表</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="{:url('setting/link')}">
                                                <i class="layui-icon layui-icon-website"></i>
                                                <cite>友链配置</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="{:url('conf/mail')}">
                                                <i class="layui-icon layui-icon-email"></i>
                                                <cite>邮件设置</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="{:url('conf/sms')}">
                                                <i class="layui-icon layui-icon-chat"></i>
                                                <cite>短信设置</cite>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs3">
                                            <a href="{:url('setting/index')}">
                                                <i class="layui-icon layui-icon-set"></i>
                                                <cite>设置</cite>
                                            </a>
                                        </li>
                                    </ul>

                                </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md6">
                    <div class="layui-card">
                        <div class="layui-card-header">待办事项</div>
                        <div class="layui-card-body">

                            <div class="layui-carousel layadmin-carousel layadmin-backlog">
                                    <ul class="layui-row layui-col-space10">
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                <h3>漏洞总数</h3>
                                                <p><cite>{$bs}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                <h3>待审核漏洞</h3>
                                                <p><cite>{$bn}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                <h3>文章总数</h3>
                                                <p><cite>{$ps}</cite></p>
                                            </a>
                                        </li>
                                        <li class="layui-col-xs6">
                                            <a href="javascript:;" onclick="layer.tips('不跳转', this, {tips: 3});" class="layadmin-backlog-body">
                                                <h3>用户总数</h3>
                                                <p><cite>{$us}</cite></p>
                                            </a>
                                        </li>
                                    </ul>
                                </div>

                        </div>
                    </div>
                </div>
        </div>
            <br>
            <div class="layui-card">
                <div class="layui-card-header">项目成员<span class="layui-bg-black" style="border-radius: 18px;padding-left: 15px;float: right;width: 140px;">指导老师：<span style="color: #0692fa;font-size: 18px;">李晗</span></span></div>
                <div class="layui-card-body">
                        <table class="layui-table" lay-size="sm">
                            <colgroup>
                                <col width="150">
                                <col width="200">
                                <col>
                            </colgroup>
                            <thead>
                            <tr>
                                <th>姓名</th>
                                <th>性别</th>
                                <th>备注</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>胡杰</td>
                                <td>男</td>
                                <td>前端技术支持</td>
                            </tr>
                            <tr>
                                <td>姚万俞</td>
                                <td>男</td>
                                <td>前端技术支持</td>
                            </tr>
                            <tr>
                                <td>李平</td>
                                <td>男</td>
                                <td>UI设计师</td>
                            </tr>
                            <tr>
                                <td>白绍东</td>
                                <td>男</td>
                                <td>后端数据提供及后台</td>
                            </tr>
                            <tr>
                                <td>李连芸</td>
                                <td>女</td>
                                <td>策划小能手</td>
                            </tr>
                            <tr>
                                <td>李丽媛</td>
                                <td>女</td>
                                <td>方案小能手</td>
                            </tr>
                            </tbody>
                        </table>
            </div>
        </div>
        </div>


        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">系统信息</div>
                <div class="layui-card-body layui-text layadmin-version">
                    <table class="layui-table">

                        <tbody>
                        <tr>
                            <td>开发语言</td>
                            <td>
                                PHP
                            </td>
                        </tr>
                        <tr>
                            <td>当前版本</td>
                            <td>v0.12
                            </td>
                        </tr>
                        <tr>
                            <td>UI 版本</td>
                            <td>layui-v2.6.1
                            </td>
                        </tr>
                        <tr>
                            <td>主要特色</td>
                            <td>零门槛 / 响应式 / 清爽 / 极简</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="layui-card layui-hide">
                <div class="layui-card-header">效果报告</div>
                <div class="layui-card-body layadmin-takerates">
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>转化率（日同比 28% <span class="layui-edge layui-edge-top" lay-tips="增长" lay-offset="-15"></span>）</h3>
                        <div class="layui-progress-bar" lay-percent="65%"></div>
                    </div>
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>签到率（日同比 11% <span class="layui-edge layui-edge-bottom" lay-tips="下降" lay-offset="-15"></span>）</h3>
                        <div class="layui-progress-bar" lay-percent="32%"></div>
                    </div>
                </div>
            </div>

            <div class="layui-card">
                <div class="layui-card-header">占用情况</div>
                <div class="layui-card-body layadmin-takerates">
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>系统使用率</h3>
                        <div class="layui-progress-bar" lay-percent="{:getrusage()['ru_stime.tv_usec'] / 10000}%"></div>
                    </div>
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>用户使用率</h3>
                        <div class="layui-progress-bar" lay-percent="{:getrusage()['ru_utime.tv_usec'] / 10000}%"></div>
                    </div>
                    <div class="layui-progress" lay-showPercent="yes">
                        <h3>内存占用率</h3>
                        <div class="layui-progress-bar layui-bg-black" lay-percent="{:round(memory_get_usage()/pow(1024,($i=floor(log(memory_get_usage(),1024)))),2)*10}%"></div>
                    </div>
                </div>
            </div>

    </div>
</div>

</div>
        </div>
    </div>


{/block}

{block name="js"}

{/block}