{load file="__LU__/css/layui.css" /}
{load file="__LU__/layui.js" /}
<div class="layui-card">
  <div class="layui-card-body">
    <form class="layui-form layui-form-pane" action="" xmlns="http://www.w3.org/1999/html" id="form">
      <div class="layui-form-item"></div>
      <div class="layui-form-item layui-hide">
        <label class="layui-form-label">ID：</label>
        <div class="layui-input-block">
          <input type="text"  name="id" value="{$info.id}" autocomplete="off" class="layui-input" required  lay-verify="required">
        </div>
      </div>
      <div class="layui-form-item">
        <label class="layui-form-label">网站名称：</label>
        <div class="layui-input-block">
          <input type="text" placeholder="请输入网站名称" value="{$info.name}" name="name" autocomplete="off" class="layui-input" required  lay-verify="required">
        </div>
      </div>

        <div class="layui-form-item">
          <label class="layui-form-label">网站链接：</label>
          <div class="layui-input-block">
            <input type="text" placeholder="请输入网站链接" value="{$info.url}" name="url" autocomplete="off" class="layui-input" >
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">排序ID：</label>
          <div class="layui-input-block">
            <input type="number" placeholder="请输入排序id" value="{$info.sort_id}" name="sort_id" autocomplete="off" class="layui-input" required  lay-verify="required|number">
          </div>
        </div>

        <div class="layui-form-item">
          <label class="layui-form-label">是否显示：</label>
          <div class="layui-input-block">
            <label class="layui-input">
            <input type="checkbox" name="status" lay-skin="switch" lay-text="显示|隐藏" lay-filter="filter" {if $status==1}checked{/if}>
            </label>
          </div>
        </div>

        <div class="layui-form-item">
          <div class="layui-input-block">
            <button class="layui-btn layui-bg-blue" lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
          </div>
        </div>

    </form>
  </div>
</div>

<script>
  //Demo
  layui.use(['form','layer'], function(){
    const form = layui.form;
    const layer=layui.layer;
    const $=layui.$;

    //监听提交
    form.on('submit(formDemo)', function(data){
      // layer.msg(JSON.stringify(data.field));
      // console.log(data.field)
      $.ajax({
        url:'{:url("setting/editnav")}',
        type:'post',
        data:data.field,
        success:(res)=>{
          if(res.code==200){
            layer.msg(res.msg,{
              icon: 6,
              time: 1000
            },()=>{
              location.reload();
            })
          }else{
            layer.msg("Error:"+res.msg,{
              icon: 5,
              time: 1000
            })
            return false
          }
        }

      })
      return false;
    });

  });
</script>