{extend name="common/common"}
{block name='title'}邮件配置{/block}

{block name="mail"}
layui-this
{/block}

{block name="main"}
<blockquote class="layui-elem-quote">
  <h3>邮件设置</h3>
</blockquote>

<div class="layui-card" >
  <div class="layui-card-body">

    <div class="layui-row layui-col-space15">
      <div class="layui-col-md6">
        <div class="layui-panel">
          <div class="layui-card">
            <div class="layui-card-header">信息配置</div>
            <div class="layui-card-body">

              <div class="layui-form">
              <div class="layui-form-item">
                <label class="layui-form-label">邮件：</label>
                <div class="layui-input-inline">
                  <input type="radio" name="status" value="y" title="开启" {if $info.status== 'y' } checked {/if}>
                  <input type="radio" name="status" value="n" title="关闭" {if $info.status== 'n' } checked {/if}>
                </div>
                <div class="layui-form-mid layui-word-aux">是否开启邮件发送功能</div>
              </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">服务地址：</label>
                  <div class="layui-input-block">
                    <input type="text" name="name" required  lay-verify="required" placeholder="请输入smtp地址" autocomplete="off" class="layui-input" value="{$info.name}">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">服务端口：</label>
                  <div class="layui-input-block">
                    <input type="number" name="v3" disabled required  lay-verify="required" placeholder="请输入发件服务端口" autocomplete="off" class="layui-input" value="{$info.v3}">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">邮箱账号：</label>
                  <div class="layui-input-block">
                    <input type="text" name="uid" required  lay-verify="required|email" placeholder="请输入发件邮箱账号" autocomplete="off" class="layui-input" value="{$info.uid}">
                  </div>
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">邮箱密码：</label>
                  <div class="layui-input-block">
                    <input type="password" name="key" required  lay-verify="required" placeholder="请输入发件邮箱密码" autocomplete="off" class="layui-input" value="{$info.key}">
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn layui-bg-blue" lay-submit lay-filter="formDemo">立即提交</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                  </div>
                </div>


              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="layui-col-md6">
        <div class="layui-panel">
          <div class="layui-card">
            <div class="layui-card-header">发件测试</div>
            <div class="layui-card-body">
              <div class="layui-form">
                <div class="layui-form-item">
                </div>

                <div class="layui-form-item">
                  <label class="layui-form-label">接收邮箱：</label>
                  <div class="layui-input-block">
                    <input type="text" name="send_user" required  lay-verify="required|email" placeholder="请输入要接收邮箱账号" autocomplete="off" class="layui-input" value="">
                  </div>
                </div>

                <div class="layui-form-item layui-form-text">
                  <label class="layui-form-label">邮件内容：</label>
                  <div class="layui-input-block">
                    <textarea name="mail_content" style="height: 183px" placeholder="请再此输入您要发送的内容" class="layui-textarea"></textarea>
                  </div>
                </div>

                <div class="layui-form-item">
                  <div class="layui-input-block">
                    <button class="layui-btn layui-bg-blue" lay-submit lay-filter="formDemo">发送</button>
                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="layui-card">
      <div class="layui-card-header layui-font-16">其他说明</div>
      <div class="layui-card-body">
        <label>发送模板后期提供</label><br>
        <label>邮件发送服务默认使用465端口</label><br>
      </div>
    </div>
</div>


{/block}


{block name="js"}
<script>



  layui.use(['form','upload'], function(){
    const form = layui.form;
    const $ = layui.$;

    //监听提交
    form.on('submit(formDemo)', function(data){
      // layer.msg(JSON.stringify(data.field));
      // console.log(JSON.stringify(data.field))
      $.ajax({
        url:'{:url("conf/mail")}',
        type:'post',
        data:data.field,
        success:(res)=>{
          if(res.code==200){
            layer.msg(res.msg,{
              icon: 6,
              time: 1000
            },()=>{
              location.reload();
            })
          }else{
            layer.msg("Error:"+res.msg,{
              icon: 5,
              time: 1000
            })
            return false
          }
        }

      })
      return false
    });


  });
</script>
{/block}
